<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="userDao" class="cn.edu.xmu.oneonezero.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="userServiceBase" class="cn.edu.xmu.oneonezero.service.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<!-- 此处为代理 -->
	<bean name="userService" parent="transactionProxy">
		<property name="target" ref="userServiceBase"></property>
	</bean>	
	
	<bean id="newsDao" class="cn.edu.xmu.oneonezero.dao.NewsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="newsService" class="cn.edu.xmu.oneonezero.service.NewsServiceImpl">
		<property name="newsDao" ref="newsDao"></property>
	</bean>
	
	<bean id="commodityArtworkDao" class="cn.edu.xmu.oneonezero.dao.CommodityArtworkDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="commodityArtworkService" class="cn.edu.xmu.oneonezero.service.CommodityArtworkServiceImpl">
		<property name="commodityArtworkDao" ref="commodityArtworkDao"></property>
	</bean>
	
	<bean id="dataDictionaryDao" class="cn.edu.xmu.oneonezero.dao.DataDictionaryDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="dataDictionaryService" class="cn.edu.xmu.oneonezero.service.DataDictionaryServiceImpl">
		<property name="dataDictionaryDao" ref="dataDictionaryDao"></property>
	</bean>
	
	
</beans>
