<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userDao" class="cn.edu.xmu.oneonezero.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="userServiceBase" class="cn.edu.xmu.oneonezero.service.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<!-- 此处为代理 -->
	<bean name="userService" parent="transactionProxy">
		<property name="target" ref="userServiceBase"></property>
	</bean>	
	
	<bean id="newsDao" class="cn.edu.xmu.oneonezero.dao.NewsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="newsService" class="cn.edu.xmu.oneonezero.service.NewsServiceImpl">
		<property name="newsDao" ref="newsDao"></property>
	</bean>
	
	<bean id="commodityArtworkDao" class="cn.edu.xmu.oneonezero.dao.CommodityArtworkDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean> 
	

	<bean id="commodityArtworkService" class="cn.edu.xmu.oneonezero.service.CommodityArtworkServiceImpl">
		<property name="commodityArtworkDao" ref="commodityArtworkDao"></property>
	</bean>
	
	<bean id="dataDictionaryDao" class="cn.edu.xmu.oneonezero.dao.DataDictionaryDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="dataDictionaryService" class="cn.edu.xmu.oneonezero.service.DataDictionaryServiceImpl">
		<property name="dataDictionaryDao" ref="dataDictionaryDao"></property>
	</bean>
	
	<bean id="artworkOrderDao" class="cn.edu.xmu.oneonezero.dao.ArtworkOrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="artworkOrderService" class="cn.edu.xmu.oneonezero.service.ArtworkOrderServiceImpl">
		<property name="artworkOrderDao" ref="artworkOrderDao"></property>
	</bean>
	
	<bean id="artworkDao" class="cn.edu.xmu.oneonezero.dao.ArtworkDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="artworkService" class="cn.edu.xmu.oneonezero.service.ArtworkServiceImpl">
		<property name="artworkDao" ref="artworkDao"></property>
	</bean>
	
	<bean id="customizedArtworkDao" class="cn.edu.xmu.oneonezero.dao.CustomizedArtworkDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="customizedArtworkService" class="cn.edu.xmu.oneonezero.service.CustomizedArtworkServiceImpl">
		<property name="customizedArtworkDao" ref="customizedArtworkDao"></property>
	</bean>
	
	<bean id="customizedArtworkOrderDao" class="cn.edu.xmu.oneonezero.dao.CustomizedArtworkOrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="customizedArtworkOrderService" class="cn.edu.xmu.oneonezero.service.CustomizedArtworkOrderServiceImpl">
		<property name="customizedArtworkOrderDao" ref="customizedArtworkOrderDao"></property>
	</bean>
	
	<bean id="commodityArtworkOrderDao" class="cn.edu.xmu.oneonezero.dao.CommodityArtworkOrderDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="commodityArtworkOrderService" class="cn.edu.xmu.oneonezero.service.CommodityArtworkOrderServiceImpl">
		<property name="commodityArtworkOrderDao" ref="commodityArtworkOrderDao"></property>
	</bean>
	
	<bean id="accountDao" class="cn.edu.xmu.oneonezero.dao.AccountDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<bean id="accountService" class="cn.edu.xmu.oneonezero.service.AccountServiceImpl">
		<property name="accountDao" ref="accountDao"></property>
	</bean>
	
	
	
	
	
</beans>
