.table {
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-size: 11px;
    font-family: auto, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    background: #E6EAE9;
    margin: 0 auto;
}

.headtext1 {
    top: 10%;
    font-family: "Droid Serif", serif;
    color: #000000;
    font-size: 2.7em;
    height: 80px;
    overflow: hidden;
    font-weight: 100;
    line-height: 49px;
    text-align: center;
    margin: 0px auto;
    width: 77%;
    font-style: italic;
}

.table1 {
    width: 100%;
}



a {
    color: #c75f3e;
}




th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2%;
    text-transform: uppercase;
    text-align: left;
    padding: 1% 1% 1% 2%;
    background-color: #E05B5B;
}



td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    font-size:14px;
    padding: 1% 1% 1% 2%;
    color: #000000;
    font-weight: 600;

}


td.alt {
    background: #F5FAFA;
    color: #797268;
}

th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff url(images/bullet1.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa url(images/bullet2.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}


.orderdiv {
    clear: left;
    margin-bottom: 4%;
}

.orderpic {
    float: left;
    
    vertical-align: top;
}

.info {
    vertical-align: top;
    font-size: small;
}

.infomargin {
    margin-bottom: 1.5%;
}

.orderbutton {
    margin: 0 auto;
    color: #333;
    background-color: #E05B5B;
    padding: 2% 3% 2% 3%;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid #E05B5B;
}
.orderbutton:hover {
    background: rgba(0, 0, 0, 0.66);
    border-bottom: 3px solid rgba(0, 0, 0, 0.76);
    *border-bottom: none;
    color: #E05B5B;
    text-decoration: none;
}
#edit {
    color: #333;
    margin-left: 2%;
    background-color: #E05B5B;
    font-size: small;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid #E05B5B;
}

#edit:hover {
    background: rgba(0, 0, 0, 0.66);
    border-bottom: 3px solid rgba(0, 0, 0, 0.76);
    *border-bottom: none;
    color: #E05B5B;
    text-decoration: none;
}
.breakline {
    background-color: #E05B5B;
    height: 2px;
    margin: 4% 0% 4% 0%;
}