@CHARSET "UTF-8";
#updown {
	_top: expression(eval(( document.compatMode && document.compatMode == 
		 "CSS1Compat")?documentElement.scrollTop+documentElement.clientHeight-this.clientHeight-1:document.body.scrollTop+document.body.clientHeight-this.clientHeight-1));
	position: fixed;
	_position: absolute;
	top: 70%;
	right: 5%;
	display: none;
	z-index: 10000
}

#updown span {
	cursor: pointer;
	width: 48px;
	height: 40px;
	display: block;
}
#updown .cart {
	background: url(../images/cart3.png) no-repeat;
}

#updown .cart:hover {
	background: url(../images/cart4.png)  no-repeat;
}
#updown .up {
	background: url(../images/updown.png) no-repeat;
}

#updown .up:hover {
	background: url(../images/updown.png) top right no-repeat;
}

#updown .down {
	background: url(../images/updown.png) bottom left no-repeat;
}

#updown .down:hover {
	background: url(../images/updown.png) bottom right no-repeat;
}

#top {
	background-color: #000;
	margin: 0em 0 10px 0em;
	border-style: solid;
	border-width: 1px;
	border-color: #E5E5E5;
	height: 50px;
	line-height: 50px;
}